__pycache__/
*.pyc
*.egg-info/
build/
dist/
.pytest_cache/
*.json
!primerblast_oss/restriction_catalog.json
!benchmarks/*.json
!benchmarks/results/*.json
/tmp/
/.local/
/local_data/
*.fa
*.fasta
*.fna
*.fa.gz
*.fasta.gz
*.fna.gz
*.fai
*.gff
*.gff3
*.gff.gz
*.gff3.gz
*.vcf
*.vcf.gz
*.bcf
*.tbi
*.csi
*.nin
*.nhr
*.nsq
*.ndb
*.nog
*.nos
*.not
*.ntf
*.nto
